{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery-board.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Gallery</title>
</head>
<body>
    <header>
        {% if request.user.is_authenticated %}
            {% include 'common/header-authorized.html' %}
        {% else %}
            {% include 'common/header-anonymous.html' %}
        {% endif %}
    </header>
    <main>
        {% if request.user.is_authenticated %}
            <div class="title-container">
                <p><a href="{% url 'gallery-add-photo' %}">Add New Event Photo</a></p>
            </div>
        {% else %}
            <div class="title-container">
                <p>Event Photos:</p>
            </div>
        {% endif %}
        <div class="outer-container">
            {% for photo in photos %}
                <div class="content-container">
                    <a href="#">
                        <div class="content-container-inner">
                            <div class="content-image">
                                <img src="{{ photo.event_photo.url }}" alt="photo from event">
                            </div>
                        </div>
                    </a>
                </div>
            {% empty %}
            {% endfor %}
        </div>
    </main>
    {% include 'common/footer.html' %}
</body>
</html>