{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/event-details.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Event Details</title>
</head>
<body>
    <header>
        {% if request.user.is_authenticated %}
            {% include 'common/header-authorized.html' %}
        {% else %}
            {% include 'common/header-anonymous.html' %}
        {% endif %}
    </header>
    <main>
        <div class="title-container">
            <p>Event Details:</p>
        </div>
        <div class="outer-container">
            <div class="event-container">
                {% if event.route.route_photo %}
                    <div class="event-image">
                        <img src="{{ event.route.route_photo.url }}" alt="event picture">
                    </div>
                {% else %}
                    <div class="event-image">
                        <img src="{% static 'mtb-event.jpg' %}" alt="no event picture">
                    </div>
                {% endif %}
                <div class="event-text">
                    <p><strong>{{ event.name }}</strong></p>
                    <p>Route: <span><a href="{% url 'route-details' event.route.pk %}" id="event-route-link">{{ event.route }}</a></span></p>
                    <p>Event Date: {{ event.event_date }}</p>
                    <p>Event Time: {{ event.event_time }}</p>
                    {% if event.description %}
                        <p>Description: {{ event.description }}</p>
                    {% endif %}
                    <p>Date Created : <span>{{ event.created_at }}</span></p>
                    {% if event.created_by.profile %}
                        <p>Created by : <span><a href="{% url 'profile-detail' event.created_by.pk %}" id="event-profile-link">{{ event.created_by.profile }}</a></span></p>
                    {% endif %}
                    {% if event.created_by.pk == request.user.pk %}
                        <div class="button-container" id="edit-event-btn">
                            <a class="btn" href="{% url 'edit-event' event.pk %}"><p>EDIT</p></a>
                        </div>
                    {% endif %}
                    {% if is_subscribed %}
                        <div class="button-container" id="unsubscribe-event-btn">
                            <a class="btn" href="{% url 'subscribe' event_pk=event.pk %}"><p>UNSUBSCRIBE</p></a>
                        </div>
                    {% else %}
                        <div class="button-container" id="subscribe-event-btn">
                            <a class="btn" href="{% url 'subscribe' event_pk=event.pk %}"><p>SUBSCRIBE</p></a>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="comments-container-outer">
            <div class="comments-container-inner">
                <div class="comments">
                    {% for comment in all_comments %}
                        <div class="single-comment">
                            <p>{{ comment.comment }}</p>
                            <p class="comment-by">(by {{ comment.created_by.profile }})</p>
                        </div>
                    {% empty %}
                        <p>NO COMMENTS</p>
                    {% endfor %}
                </div>
                <div class="comments-form-container">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" id="form-btn">ADD COMMENT</button>
                </form>
            </div>
        </div>
    </main>
    {% include 'common/footer.html' %}
</body>
</html>