{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/reset.css' %}>
    <link rel="stylesheet" href={% static 'css/event-details.css' %}>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Event Details</title>
</head>
<body>
    <header>
        {% if request.user.is_authenticated %}
            {% include 'common/header-authorized.html' %}
        {% else %}
            {% include 'common/header-anonymous.html' %}
        {% endif %}
    </header>
    <main>
        <div class="outer-container">
            <div class="content-container">
                <p>{{ event.name }}</p>
                <p>{{ event.route }}</p>
                <p>{{ event.event_date }}</p>
                <p>{{ event.event_time }}</p>
                {% if event.description %}
                    <p>{{ event.description }}</p>
                {% endif %}
                <p>Date Created : <span>{{ event.created_at }}</span></p>
                <p>Created by : <span>{{ event.created_by.profile }}</span></p>
                {% if event.route.route_photo %}
                    <div class="content-image">
                        <img src="{{ event.route.route_photo.url }}" alt="event picture">
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
    {% include 'common/footer.html' %}
</body>
</html>