{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/reset.css' %}>
    <link rel="stylesheet" href={% static 'css/view-all.css' %}>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>View All</title>
</head>
<body>
    <header>
        {% if request.user.is_authenticated %}
            {% include 'common/header-authorized.html' %}
        {% else %}
            {% include 'common/header-anonymous.html' %}
        {% endif %}
    </header>
    <main>
        <div class="outer-container">
            <div class="links-container">
                <div class="left-links">
                    <a href="{% url 'all-profiles' %}" class="left-upper">Members</a>
                    <a href="{% url 'all-routes' %}" class="left-lower">Routes</a>
                </div>
                <div class="right-links">
                    <a href="{% url 'all-bikes' %}" class="right-upper">Bikes</a>
                    <a href="{% url 'all-events' %}" class="right-lower">Events</a>
                </div>
            </div>
        </div>
    </main>
    {% include 'common/footer.html' %}
</body>
</html>