{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/reset.css' %}>
    <link rel="stylesheet" href={% static 'css/bike-details.css' %}>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Bike Details</title>
</head>
<body>
    <header>
        {% if request.user.is_authenticated %}
            {% include 'common/header-authorized.html' %}
        {% else %}
            {% include 'common/header-anonymous.html' %}
        {% endif %}
    </header>
    <main>
        <div class="title-container">
            <p>Bike Details:</p>
        </div>
        <div class="outer-container">
            <div class="bike-container">
                {% if bike.picture %}
                    <div class="bike-image">
                        <img src="{{ bike.picture }}" alt="bike picture">
                    </div>
                {% else %}
                    <div class="bike-image">
                        <img src="{% static 'bike-abstract.jpg' %}" alt="no bike picture">
                    </div>
                {% endif %}
                <div class="bike-text">
                    <p id="bike-brand"><strong>{{ bike.manufacturer }}</strong></p>
                    <p id="bike-model"><strong>{{ bike.model }}</strong></p>
                    <p>Type: {{ bike.get_type_display }}</p>
                    <p>Geometry: {{ bike.get_geometry_display }}</p>
                    {% if bike.is_ebike %}
                        <p style="font-style: italic">This is an E-BIKE</p>
                    {% endif %}
                    {% if bike.year %}
                        <p>Model Year: {{ bike.year }}</p>
                    {% endif %}
                    {% if bike.wheel_size and not bike.is_mullet %}
                        <p>Wheel Size (IN): {{ bike.wheel_size }}</p>
                    {% endif %}
                    {% if bike.is_mullet %}
                        <p style="font-style: italic">This is a Mullet Bike</p>
                    {% endif %}
                    {% if bike.weight %}
                        <p>Weight (KG): {{ bike.weight }}</p>
                    {% endif %}
                    {% if bike.user.pk == request.user.pk %}
                        <div class="button-container">
                            <a class="btn" href="{% url 'edit-bike' bike.pk %}"><p>EDIT</p></a>
                            <a class="btn" href="{% url 'delete-bike' bike.pk %}"><p>DELETE</p></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    {% include 'common/footer.html' %}
</body>
</html>