{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/reset.css' %}>
    <link rel="stylesheet" href={% static 'css/delete-bike.css' %}>
    <title>Delete a Bike</title>
</head>
<body>
    <header>
        <div class="top-header">
            <p>Cycle Events Planner</p>
        </div>
    </header>
    <main>
        <div class="outer-container">
            <div class="form-container">
                <h2>Are you sure you want to delete your bike?</h2>
                <p>{{ bike }} {{ bike.year }}</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit">DELETE</button>
                </form>
            </div>
        </div>
    </main>
    {% include 'common/footer.html' %}
</body>
</html>