{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/bikes-list.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Bikes</title>
</head>
<body>
    <header>
        {% if request.user.is_authenticated %}
            {% include 'common/header-authorized.html' %}
        {% else %}
            {% include 'common/header-anonymous.html' %}
        {% endif %}
    </header>
    <main>
        <div class="title-container">
            <p>My Owned Bikes: {{ bikes.count }}</p>
        </div>
        <div class="outer-container">
            {% for bike in bikes %}
                <div class="content-container">
                    <a href="{% url 'bike-details' bike.pk %}">
                        <div class="content-container-inner">
                            {% if bike.picture %}
                                <div class="content-image">
                                    <img src="{{ bike.picture }}" alt="bike picture">
                                </div>
                            {% else %}
                                <div class="content-image">
                                    <img src="{% static 'bike-abstract.jpg' %}" alt="no bike picture">
                                </div>
                            {% endif %}
                            <div class="content-text">
                                <div class="top-content-container">
                                    <p>{{ bike.manufacturer }}</p>
                                </div>
                                <div class="mid-content-container">
                                    <p>{{ bike.model }}</p>
                                </div>
                                <div class="lower-content-container">
                                    {% if bike.user.profile %}
                                        <p id="bike-owner-label">bike owner:</p>
                                        <p id="bike-owner">{{ bike.user.profile }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% empty %}
            {% endfor %}
        </div>
    </main>
    {% include 'common/footer.html' %}
</body>
</html>