body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #b9936c;
}

main {
    background-color: #e6e2d3;
    padding: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.outer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.top-header {
    padding: 15px;
    font-weight: normal;
    font-size: 5rem;
    display: flex;
    justify-content: center;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #c4b7a6;
    color: black;
}

.content-container {
	width: 530px;
    height: 530px;
	background-color: #b9936c;
	padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content-image {
    height: 510px;
    width: 510px;
    overflow: hidden;
}

.content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer a:hover {
    color: grey;
}

.content-container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.content-container:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.title-container p {
    text-align: center;
    color: black;
    font-size: 2.5rem;
}

.title-container p:hover a {
    color: gray;
}

