body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #b9936c;
}

main {
    background-color: #e6e2d3;
    padding: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.top-header {
    padding: 15px;
    font-weight: normal;
    font-size: 5rem;
    display: flex;
    justify-content: center;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #c4b7a6;
    color: black;
}

.form-container {
	display: block;
	width: 30%;
	background-color: #dac292;
	padding: 45px;
	margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-container input {
	background-color: #e6e2d3;
	border: 1px solid #b9936c;
	height: 50px;
	width: 100%;
	padding-left: 10px;
    font-size: 1.2rem;
}

.form-container button {
	background-color: #b9936c;
	color: black;
	font-weight: bold;
	border: 1px solid #b9936c;
	width: 100%;
	margin-top: 20px;
    margin-bottom: 40px;
	height: 50px;
    font-size: 1.2rem;
}

.form-container h2 {
    text-align: center;
    padding: 20px;
}

.form-container label {
    font-size: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form select {
    font-size: 1.2rem;
    background-color: #e6e2d3;
    padding-left: 10px;
    height: 50px;
    border: 1px solid #b9936c;
}

form input[type="checkbox"] {
    height: 20px;
    width: 20px;
    accent-color: #b9936c;
    outline: none;
}

input:focus {
    outline: 2px solid #b9936c;
}

input[type="file"] {
    border: none;
    background-color: #dac292;
    padding-left: 0;
}

input[type="file"]::file-selector-button {
    background-color: #b9936c;
    color: black;
    border: 1px solid black;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    color: dimgrey;
    border: 2px solid dimgrey;
}

.form-container button:hover {
    color: dimgrey;
    outline: 2px solid dimgrey;
}

footer a:hover {
    color: grey;
}
