{% load static %}
{% load placeholder %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Login</title>
</head>
<body>
    <header>
        {% if request.user.is_authenticated %}
            {% include 'common/header-authorized.html' %}
        {% else %}
            {% include 'common/header-anonymous.html' %}
        {% endif %}
    </header>
    <main>
        <div class="outer-container">
            <div class="form-container">
                <h2>Please, login:</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.username|placeholder:'Email' }}
                    {{ form.username.errors }}
                    {{ form.password|placeholder:'Password' }}
                    {{ form.password.errors }}
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </main>
    {% include 'common/footer.html' %}
</body>
</html>