{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/reset.css' %}>
    <link rel="stylesheet" href={% static 'css/profile-details.css' %}>
    <title>Login</title>
</head>
<body>
    <header>
        <div class="top-header">
            <p>Cycle Events Planner</p>
        </div>
    </header>
    <main>
        <div class="outer-container">
            <div class="profile-container">
                <h2>{{ object.nickname }}</h2>
                <h2>{{ object.full_name }}</h2>
                <p>{{ object.user.email }}</p>
                {% if object.age %}
                    <p>{{ object.age }}</p>
                {% endif %}
                {% if object.profile_picture %}
                    <div class="profile-image">
                        <img src="{{ object.profile_picture.url }}" alt="profile picture">
                    </div>
                {% endif %}
            </div>
            {% if object.pk == request.user.pk %}
                <div class="button-container">
                    <div class="btn">
                        <a href="#">EDIT</a>
                    </div>
                    <div class="btn">
                        <a href="#">DELETE</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
    {% include 'common/footer.html' %}
</body>
</html>