{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile-delete.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Delete Profile</title>
</head>
<body>
    <header>
        {% if request.user.is_authenticated %}
            {% include 'common/header-authorized.html' %}
        {% else %}
            {% include 'common/header-anonymous.html' %}
        {% endif %}
    </header>
    <main>
        <div class="outer-container">
            <div class="form-container">
                <h2>Are you sure you want to delete your profile?</h2>
                <p>Your current profile will be <strong>deleted</strong>, and your account will be <strong>deactivated</strong>. Your created bikes, routes and events will <strong>not be removed</strong>.</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit">DELETE</button>
                </form>
            </div>
        </div>
    </main>
    {% include 'common/footer.html' %}
</body>
</html>