{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/reset.css' %}>
    <link rel="stylesheet" href={% static 'css/profile-details.css' %}>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Profile Details</title>
</head>
<body>
    <header>
        {% if request.user.is_authenticated %}
            {% include 'common/header-authorized.html' %}
        {% else %}
            {% include 'common/header-anonymous.html' %}
        {% endif %}
    </header>
    <main>
        <div class="outer-container">
            <div class="profile-container">
                {% if object.profile_picture %}
                    <div class="profile-image">
                        <img src="{{ object.profile_picture.url }}" alt="profile picture">
                    </div>
                {% else %}
                    <div class="profile-image">
                        <img src="{% static 'bike-profile-abstract.jpg' %}" alt="no profile picture">
                    </div>
                {% endif %}
                <div class="profile-text">
                        {% if object.pk == request.user.pk %}
                            <p class="profile-email">Email: {{ object.user.email }}</p>
                        {% endif %}
                        <p class="profile-nickname">Nickname: {{ object.nickname }}</p>
                        {% if object.pk == request.user.pk %}
                            <p class="profile-date">Date Created: {{ object.user.created_at }}</p>
                        {% endif %}
                        {% if object.first_name or object.last_name %}
                            <p class="profile-name">Name: {{ object.full_name }}</p>
                        {% endif %}
                        {% if object.age %}
                            <p class="profile-age">Age: {{ object.age }}</p>
                        {% endif %}
                    {% if object.pk == request.user.pk %}
                        <div class="button-container">
                            <a class="btn" href="{% url 'profile-update' request.user.pk %}"><p>EDIT</p></a>
                            <a class="btn" href="{% url 'profile-delete' request.user.pk %}"><p>DELETE</p></a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if object.pk == request.user.pk %}
                <div class="links-container">
                    <div class="left-links">
                        <a href="#" class="left-upper">My Bikes</a>
                        <a href="#" class="left-lower">My Events</a>
                    </div>
                    <div class="right-links">
                        <a href="#" class="right-upper">My Routes</a>
                        <a href="#" class="right-lower">Subscribed Events</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
    {% include 'common/footer.html' %}
</body>
</html>