{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/reset.css' %}>
    <link rel="stylesheet" href={% static 'css/route-details.css' %}>
    <title>Route Details</title>
</head>
<body>
    <header>
        <div class="top-header">
            <p>Cycle Events Planner</p>
        </div>
    </header>
    <main>
        <div class="outer-container">
            <div class="content-container">
                <p>{{ route.name }}</p>
                <p>{{ route.get_difficulty_display }}</p>
                <p>{{ route.get_type_display }}</p>
                {% if route.description %}
                    <p>{{ route.description }}</p>
                {% endif %}
                {% if route.distance %}
                    <p>{{ route.distance }}</p>
                {% endif %}
                <p>{{ route.start_point }}</p>
                <p>{{ route.end_point }}</p>
                {% if route.is_circular %}
                    <p>This is a circular route !</p>
                {% endif %}
                {% if route.map_image %}
                    <div class="content-image">
                        <img src="{{ route.map_image }}" alt="map image">
                    </div>
                {% endif %}
                {% if route.route_photo %}
                    <div class="content-image">
                        <img src="{{ route.route_photo.url }}" alt="route photo">
                    </div>
                {% endif %}
                <p>Date Created : <span>{{ route.created_at }}</span></p>
                <p>Created by : <span>{{ route.created_by.profile }}</span></p>
            </div>
        </div>
    </main>
    {% include 'common/footer.html' %}
</body>
</html>