{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/reset.css' %}>
    <link rel="stylesheet" href={% static 'css/route-details.css' %}>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Route Details</title>
</head>
<body>
    <header>
        {% if request.user.is_authenticated %}
            {% include 'common/header-authorized.html' %}
        {% else %}
            {% include 'common/header-anonymous.html' %}
        {% endif %}
    </header>
    <main>
        <div class="title-container">
            <p>Route Details:</p>
        </div>
        <div class="outer-container">
            <div class="route-container">
                {% if route.route_photo %}
                    <div class="route-image">
                        <img src="{{ route.route_photo.url }}" alt="route photo">
                    </div>
                {% else %}
                    <div class="route-image">
                        <img src="{% static 'abstract-trail.jpg' %}" alt="no route photo">
                    </div>
                {% endif %}
                <div class="route-text">
                    <p><strong>{{ route.name }}</strong></p>
                    <p>Difficulty: {{ route.get_difficulty_display }}</p>
                    <p>Type: {{ route.get_type_display }}</p>
                    {% if route.description %}
                        <p>Description: {{ route.description }}</p>
                    {% endif %}
                    {% if route.distance %}
                        <p>Distance (KM): {{ route.distance }}</p>
                    {% endif %}
                    <p>Start Point: {{ route.start_point }}</p>
                    <p>End Point: {{ route.end_point }}</p>
                    {% if route.is_circular %}
                        <p style="font-style: italic">This is a circular route !</p>
                    {% endif %}
                    <p>Date Created : <span>{{ route.created_at }}</span></p>
                    {% if route.created_by.profile %}
                        <p>Created by : <span><a href="{% url 'profile-detail' route.created_by.pk %}" id="route-profile-link">{{ route.created_by.profile }}</a></span></p>
                    {% endif %}
                    {% if route.created_by.pk == request.user.pk %}
                        <div class="button-container">
                            <a class="btn" href="{% url 'edit-route' route.pk %}"><p>EDIT</p></a>
                        </div>
                    {% endif %}
                </div>
                {% if route.map_image %}
                    <div class="route-image">
                        <img src="{{ route.map_image }}" alt="map image">
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
    {% include 'common/footer.html' %}
</body>
</html>